.card{
    width: 265px;
}

.container{
    margin: 5px;
}

.editBtn{
    float: right;
}

.formLabel{
    width: 120px
}

.card-block{
    margin: 2px;
}

.addPatientBtn{
    margin: 35px;
}

.modalBtnGroup{
    margin: 10px;
}

.radioBtn{
    margin-right: 10px;
}
.radioBtnGroup{
    width: 207px;
    margin: 7px 0px 7px 14px;
}

.modal-content{
    min-width: 340px;
}